
body {
    background-color: rgb(119, 55, 55);
    font-family: Arial;
}


a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}


.product-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}


.card {
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    text-align: center;

    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card img {
    width: 180px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}


.card button {
    background: green;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.search-input {
    width: 300px;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    border: none;
   
    font-size: 16px;
}

.search-btn {
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: bold;
}

